<form method="post">
    <table>
        <tr>
            <td>Name: </td>
            <td>
                <input type="text" required placeholder="Enter name " name="user_name" required>
            </td>

        </tr>
        <tr>
            <td>Email: </td>
            <td><input type="email" required placeholder="Enter email" name="user_email" required>
            </td>
        </tr>
        <tr>
            <td>mobile:</td>
            <td>
                <input type="text" required placeholder="Enter mobile" name="user_mobile" required>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit">
                <input type="button" value="display" onclick=" window.location='display' ">
            </td>
        </tr>
    </table>

</form>