<form method="post">
    <table>
        <tr>
            <td>Name: </td>
            <td>
                <input type="text" placeholder="Enter name " name="admin_name" value="<%= db_rows_array[0].admin_name %>"
                    required>
            </td>

        </tr>
        
        <tr>
            <td>Email: </td>
            <td><input type="email" placeholder="Enter email" name="admin_email"
                    value="<%= db_rows_array[0].admin_email %>" required>
            </td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>
                <input type="text" placeholder="Enter Password" name="admin_password"
                    value="<%= db_rows_array[0].admin_password %>" required>
            </td>
        </tr>
        
        <tr>
            <td>
                <input type="submit">
                <input type="button" value="admin_view" onclick=" window.location='admin_view' ">
            </td>
        </tr>
    </table>

</form>