<table>
    <tbody>
        <tr>
            <th>Feedback ID</th>
            <td>:</td>
            <td>
                <%= db_rows_array[0].feedback_id %>
            </td>
        </tr>
        <tr>
            <th>User ID</th>
            <td>:</td>
            <td>
                <%= db_rows_array[0].user_id %>
            </td>

        </tr>
        <tr>
            <th>Date</th>
            <td>:</td>
            <td>
                <%= db_rows_array[0].feedback_date %>
            </td>

        </tr>
        <tr>
            <th>Message</th>
            <td>:</td>
            <td>
                <%= db_rows_array[0].feedback_message %>
            </td>

        </tr>
       
    </tbody>
</table>