<table>
    <tbody>
        <tr>
            <th>Order ID</th>
            <td>:</td>
            <td>
                <%= db_rows_array[0].order_id %>
            </td>
        </tr>
        <tr>
            <th>User ID</th>
            <td>:</td>
            <td>
                <%= db_rows_array[0].user_id %>
            </td>

        </tr>
        <tr>
            <th>Order Status</th>
            <td>:</td>
            <td>
                <%= db_rows_array[0].order_status %>
            </td>

        </tr>
        
    </tbody>
</table>